<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:postgresql://localhost/SoftwareSanitario?user=postgres&amp;password=61223180</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PatientFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.PatientFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GeneralDoctorFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.GeneralDoctorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SpecialistFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.SpecialistFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExamsFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.ExamsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DrugFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.DrugFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PrescriptionFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.PrescriptionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RecipeFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.RecipeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExaminationsFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.ExaminationsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TicketsFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.TicketsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RecipeFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrescriptionFilter</filter-name>
        <servlet-name>Home Page</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TicketsFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DrugFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExaminationsFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExamsFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GeneralDoctorFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SpecialistFilter</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.mycompany.softwaresanitario.listener.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CambioPasswordPage</servlet-name>
        <jsp-file>/cambioPassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/homePage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassowordServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFservlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.PDFservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGeneralDoctorServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.changeGeneralDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambioPasswordPage</servlet-name>
        <url-pattern>/restricted/cambioPassword.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sendEmailServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.sendEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/restricted/logout.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/restricted/homePage.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassowordServlet</servlet-name>
        <url-pattern>/restricted/changePassoword.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailServlet</servlet-name>
        <url-pattern>/sendEmail.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFservlet</servlet-name>
        <url-pattern>/restricted/exportToPDF.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGeneralDoctorServlet</servlet-name>
        <url-pattern>/restricted/changeGeneralDoctor.handler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
