<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:postgresql://localhost/SoftwareSanitario?user=postgres&amp;password=chiaravise</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported xls files</description>
        <param-name>xlsFolder</param-name>
        <param-value>xls</param-value>
    </context-param>
    <context-param>
        <description>The folder where the images of the users are saved</description>
        <param-name>file-upload</param-name>
        <param-value>images</param-value>
    </context-param>
    <filter>
        <filter-name>SspFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.SspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PatientFilterByUser</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.PatientFilterByUser</filter-class>
    </filter>
    <filter>
        <filter-name>GeneralDoctorFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.GeneralDoctorFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>SpecialistFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.SpecialistFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>ExamsFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.ExamsFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>DrugFilterByDoctor</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.DrugFilterByDoctor</filter-class>
    </filter>
    <filter>
        <filter-name>PrescriptionFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.PrescriptionFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>RecipeFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.RecipeFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>ExaminationsFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.ExaminationsFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>TicketsFilterByPatient</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.TicketsFilterByPatient</filter-class>
    </filter>
    <filter>
        <filter-name>PatientFilterByDoctor</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.PatientFilterByDoctor</filter-class>
    </filter>
    <filter>
        <filter-name>DoctorFilterByDoctor</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.DoctorFilterByDoctor</filter-class>
    </filter>
    <filter>
        <filter-name>ExaminationsFilterBySpecialist</filter-name>
        <filter-class>com.mycompany.softwaresanitario.filters.ExaminationsFilterBySpecialist</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SspFilter</filter-name>
        <servlet-name>homePageSsp</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExaminationsFilterBySpecialist</filter-name>
        <servlet-name>homeSpecialistPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterByDoctor</filter-name>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RecipeFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrescriptionFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TicketsFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DrugFilterByDoctor</filter-name>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DrugFilterByDoctor</filter-name>
        <servlet-name>homeSpecialistPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExaminationsFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExamsFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilterByUser</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilterByUser</filter-name>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilterByUser</filter-name>
        <servlet-name>homeSpecialistPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GeneralDoctorFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SpecialistFilterByPatient</filter-name>
        <servlet-name>HomePage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GeneralDoctorFilterByPatient</filter-name>
        <servlet-name>homeSpecialistPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SpecialistFilterByPatient</filter-name>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilterByDoctor</filter-name>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.mycompany.softwaresanitario.listener.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CambioPasswordPage</servlet-name>
        <jsp-file>/cambioPassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>homeSpecialistPage</servlet-name>
        <jsp-file>/homeSpecialist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <jsp-file>/homeGeneralDoctor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/homePage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HomePageSsp</servlet-name>
        <jsp-file>/homePageSsp.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/errorPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassowordServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFservlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.PDFservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGeneralDoctorServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.changeGeneralDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newExaminationServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.newExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newExamServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.newExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRecipeServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.NewRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmExaminationServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.confirmExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmExamServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.confirmExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XlsServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.XlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImageServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.uploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambioPasswordPage</servlet-name>
        <url-pattern>/restricted/cambioPassword.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeSpecialistPage</servlet-name>
        <url-pattern>/restricted/homeSpecialist.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/errorPage.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeGeneralDoctorPage</servlet-name>
        <url-pattern>/restricted/homeGeneralDoctor.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sendEmailServlet</servlet-name>
        <servlet-class>com.mycompany.softwaresanitario.servlet.sendEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/restricted/logout.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/restricted/homePage.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageSsp</servlet-name>
        <url-pattern>/restricted/homePageSsp.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassowordServlet</servlet-name>
        <url-pattern>/restricted/changePassoword.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailServlet</servlet-name>
        <url-pattern>/sendEmail.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFservlet</servlet-name>
        <url-pattern>/restricted/exportToPDF.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGeneralDoctorServlet</servlet-name>
        <url-pattern>/restricted/changeGeneralDoctor.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newExaminationServlet</servlet-name>
        <url-pattern>/restricted/newExamination.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newExamServlet</servlet-name>
        <url-pattern>/restricted/newExam.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRecipeServlet</servlet-name>
        <url-pattern>/restricted/newRecipe.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmExaminationServlet</servlet-name>
        <url-pattern>/restricted/confirmExamination.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmExamServlet</servlet-name>
        <url-pattern>/restricted/confirmExam.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XlsServlet</servlet-name>
        <url-pattern>/restricted/exportToXLS.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImageServlet</servlet-name>
        <url-pattern>/restricted/uploadImage.handler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
